
@{
    Layout = "_Layout";
}

<div class="section-bg-color">
    <div class="container content">
        <div class="row vertical-row">
            <div class="col-md-7 col-sm-6">
                <div class="title-base text-left">
                    <hr />
                    <h2>Blog</h2>
                    <p>We must let go of the life we have planned, so as to accept the one that is waiting for us.</p>
                </div>
            </div>
            <div class="col-md-5 col-sm-6">
                <img src="../images/bg-img-6.png" alt="" />
            </div>
        </div>
    </div>
</div>
<div class="section-bg-color">
    <div class="container content">
        <div class="row">
            <div class="col-md-9 col-sm-12">
                <div class="grid-list grid-layout grid-15">
                    <div class="grid-box row">
                        <div class="grid-item col-md-6">
                            <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse" data-anima="scale-rotate" data-trigger="hover">
                                <div class="block-infos">
                                    <div class="block-data">
                                        <p class="bd-day">12</p>
                                        <p class="bd-month">July 2018</p>
                                    </div>
                                    <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                                </div>
                                <a class="img-box" href="#"><img class="anima" src="../images/gallery/image-1.jpg" alt="" /></a>
                                <div class="advs-box-content">
                                    <h2 class="text-m"><a href="#">Darknet is rolling out a free service to pair users</a></h2>
                                    <div class="tag-row">
                                        <span><i class="fa fa-bookmark"></i> <a href="#">Travel</a></span>
                                        <span><i class="fa fa-pencil"></i><a href="#">Admin</a></span>
                                    </div>
                                    <p class="niche-box-content">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item col-md-6">
                            <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse" data-anima="scale-rotate" data-trigger="hover">
                                <div class="block-infos">
                                    <div class="block-data">
                                        <p class="bd-day">15</p>
                                        <p class="bd-month">July 2018</p>
                                    </div>
                                    <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                                </div>
                                <a class="img-box" href="#"><img class="anima" src="../images/gallery/image-2.jpg" alt="" /></a>
                                <div class="advs-box-content">
                                    <h2 class="text-m"><a href="#">Micro satellite launcher Vector flies first rocket</a></h2>
                                    <div class="tag-row">
                                        <span><i class="fa fa-bookmark"></i> <a href="#">Travel</a></span>
                                        <span><i class="fa fa-pencil"></i><a href="#">Admin</a></span>
                                    </div>
                                    <p class="niche-box-content">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item col-md-6">
                            <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse" data-anima="scale-rotate" data-trigger="hover">
                                <div class="block-infos">
                                    <div class="block-data">
                                        <p class="bd-day">12</p>
                                        <p class="bd-month">July 2018</p>
                                    </div>
                                    <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                                </div>
                                <a class="img-box" href="#"><img class="anima" src="../images/gallery/image-1.jpg" alt="" /></a>
                                <div class="advs-box-content">
                                    <h2 class="text-m"><a href="#">Darknet is rolling out a free service to pair users</a></h2>
                                    <div class="tag-row">
                                        <span><i class="fa fa-bookmark"></i> <a href="#">Travel</a></span>
                                        <span><i class="fa fa-pencil"></i><a href="#">Admin</a></span>
                                    </div>
                                    <p class="niche-box-content">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item col-md-6">
                            <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse" data-anima="scale-rotate" data-trigger="hover">
                                <div class="block-infos">
                                    <div class="block-data">
                                        <p class="bd-day">15</p>
                                        <p class="bd-month">July 2018</p>
                                    </div>
                                    <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                                </div>
                                <a class="img-box" href="#"><img class="anima" src="../images/gallery/image-2.jpg" alt="" /></a>
                                <div class="advs-box-content">
                                    <h2 class="text-m"><a href="#">Micro satellite launcher Vector flies first rocket</a></h2>
                                    <div class="tag-row">
                                        <span><i class="fa fa-bookmark"></i> <a href="#">Travel</a></span>
                                        <span><i class="fa fa-pencil"></i><a href="#">Admin</a></span>
                                    </div>
                                    <p class="niche-box-content">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item col-md-6">
                            <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse" data-anima="scale-rotate" data-trigger="hover">
                                <div class="block-infos">
                                    <div class="block-data">
                                        <p class="bd-day">12</p>
                                        <p class="bd-month">July 2018</p>
                                    </div>
                                    <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                                </div>
                                <a class="img-box" href="#"><img class="anima" src="../images/gallery/image-1.jpg" alt="" /></a>
                                <div class="advs-box-content">
                                    <h2 class="text-m"><a href="#">Darknet is rolling out a free service to pair users</a></h2>
                                    <div class="tag-row">
                                        <span><i class="fa fa-bookmark"></i> <a href="#">Travel</a></span>
                                        <span><i class="fa fa-pencil"></i><a href="#">Admin</a></span>
                                    </div>
                                    <p class="niche-box-content">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item col-md-6">
                            <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse" data-anima="scale-rotate" data-trigger="hover">
                                <div class="block-infos">
                                    <div class="block-data">
                                        <p class="bd-day">15</p>
                                        <p class="bd-month">July 2018</p>
                                    </div>
                                    <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                                </div>
                                <a class="img-box" href="#"><img class="anima" src="../images/gallery/image-2.jpg" alt="" /></a>
                                <div class="advs-box-content">
                                    <h2 class="text-m"><a href="#">Micro satellite launcher Vector flies first rocket</a></h2>
                                    <div class="tag-row">
                                        <span><i class="fa fa-bookmark"></i> <a href="#">Travel</a></span>
                                        <span><i class="fa fa-pencil"></i><a href="#">Admin</a></span>
                                    </div>
                                    <p class="niche-box-content">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item col-md-6">
                            <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse" data-anima="scale-rotate" data-trigger="hover">
                                <div class="block-infos">
                                    <div class="block-data">
                                        <p class="bd-day">12</p>
                                        <p class="bd-month">July 2018</p>
                                    </div>
                                    <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                                </div>
                                <a class="img-box" href="#"><img class="anima" src="../images/gallery/image-1.jpg" alt="" /></a>
                                <div class="advs-box-content">
                                    <h2 class="text-m"><a href="#">Darknet is rolling out a free service to pair users</a></h2>
                                    <div class="tag-row">
                                        <span><i class="fa fa-bookmark"></i> <a href="#">Travel</a></span>
                                        <span><i class="fa fa-pencil"></i><a href="#">Admin</a></span>
                                    </div>
                                    <p class="niche-box-content">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item col-md-6">
                            <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse" data-anima="scale-rotate" data-trigger="hover">
                                <div class="block-infos">
                                    <div class="block-data">
                                        <p class="bd-day">15</p>
                                        <p class="bd-month">July 2018</p>
                                    </div>
                                    <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                                </div>
                                <a class="img-box" href="#"><img class="anima" src="../images/gallery/image-2.jpg" alt="" /></a>
                                <div class="advs-box-content">
                                    <h2 class="text-m"><a href="#">Micro satellite launcher Vector flies first rocket</a></h2>
                                    <div class="tag-row">
                                        <span><i class="fa fa-bookmark"></i> <a href="#">Travel</a></span>
                                        <span><i class="fa fa-pencil"></i><a href="#">Admin</a></span>
                                    </div>
                                    <p class="niche-box-content">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item col-md-6">
                            <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse" data-anima="scale-rotate" data-trigger="hover">
                                <div class="block-infos">
                                    <div class="block-data">
                                        <p class="bd-day">12</p>
                                        <p class="bd-month">July 2018</p>
                                    </div>
                                    <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                                </div>
                                <a class="img-box" href="#"><img class="anima" src="../images/gallery/image-1.jpg" alt="" /></a>
                                <div class="advs-box-content">
                                    <h2 class="text-m"><a href="#">Darknet is rolling out a free service to pair users</a></h2>
                                    <div class="tag-row">
                                        <span><i class="fa fa-bookmark"></i> <a href="#">Travel</a></span>
                                        <span><i class="fa fa-pencil"></i><a href="#">Admin</a></span>
                                    </div>
                                    <p class="niche-box-content">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item col-md-6">
                            <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse" data-anima="scale-rotate" data-trigger="hover">
                                <div class="block-infos">
                                    <div class="block-data">
                                        <p class="bd-day">15</p>
                                        <p class="bd-month">July 2018</p>
                                    </div>
                                    <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                                </div>
                                <a class="img-box" href="#"><img class="anima" src="../images/gallery/image-2.jpg" alt="" /></a>
                                <div class="advs-box-content">
                                    <h2 class="text-m"><a href="#">Micro satellite launcher Vector flies first rocket</a></h2>
                                    <div class="tag-row">
                                        <span><i class="fa fa-bookmark"></i> <a href="#">Travel</a></span>
                                        <span><i class="fa fa-pencil"></i><a href="#">Admin</a></span>
                                    </div>
                                    <p class="niche-box-content">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item col-md-6">
                            <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse" data-anima="scale-rotate" data-trigger="hover">
                                <div class="block-infos">
                                    <div class="block-data">
                                        <p class="bd-day">12</p>
                                        <p class="bd-month">July 2018</p>
                                    </div>
                                    <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                                </div>
                                <a class="img-box" href="#"><img class="anima" src="../images/gallery/image-1.jpg" alt="" /></a>
                                <div class="advs-box-content">
                                    <h2 class="text-m"><a href="#">Darknet is rolling out a free service to pair users</a></h2>
                                    <div class="tag-row">
                                        <span><i class="fa fa-bookmark"></i> <a href="#">Travel</a></span>
                                        <span><i class="fa fa-pencil"></i><a href="#">Admin</a></span>
                                    </div>
                                    <p class="niche-box-content">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item col-md-6">
                            <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse" data-anima="scale-rotate" data-trigger="hover">
                                <div class="block-infos">
                                    <div class="block-data">
                                        <p class="bd-day">15</p>
                                        <p class="bd-month">July 2018</p>
                                    </div>
                                    <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                                </div>
                                <a class="img-box" href="#"><img class="anima" src="../images/gallery/image-2.jpg" alt="" /></a>
                                <div class="advs-box-content">
                                    <h2 class="text-m"><a href="#">Micro satellite launcher Vector flies first rocket</a></h2>
                                    <div class="tag-row">
                                        <span><i class="fa fa-bookmark"></i> <a href="#">Travel</a></span>
                                        <span><i class="fa fa-pencil"></i><a href="#">Admin</a></span>
                                    </div>
                                    <p class="niche-box-content">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item col-md-6">
                            <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse" data-anima="scale-rotate" data-trigger="hover">
                                <div class="block-infos">
                                    <div class="block-data">
                                        <p class="bd-day">12</p>
                                        <p class="bd-month">July 2018</p>
                                    </div>
                                    <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                                </div>
                                <a class="img-box" href="#"><img class="anima" src="../images/gallery/image-1.jpg" alt="" /></a>
                                <div class="advs-box-content">
                                    <h2 class="text-m"><a href="#">Darknet is rolling out a free service to pair users</a></h2>
                                    <div class="tag-row">
                                        <span><i class="fa fa-bookmark"></i> <a href="#">Travel</a></span>
                                        <span><i class="fa fa-pencil"></i><a href="#">Admin</a></span>
                                    </div>
                                    <p class="niche-box-content">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item col-md-6">
                            <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse" data-anima="scale-rotate" data-trigger="hover">
                                <div class="block-infos">
                                    <div class="block-data">
                                        <p class="bd-day">15</p>
                                        <p class="bd-month">July 2018</p>
                                    </div>
                                    <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                                </div>
                                <a class="img-box" href="#"><img class="anima" src="../images/gallery/image-2.jpg" alt="" /></a>
                                <div class="advs-box-content">
                                    <h2 class="text-m"><a href="#">Micro satellite launcher Vector flies first rocket</a></h2>
                                    <div class="tag-row">
                                        <span><i class="fa fa-bookmark"></i> <a href="#">Travel</a></span>
                                        <span><i class="fa fa-pencil"></i><a href="#">Admin</a></span>
                                    </div>
                                    <p class="niche-box-content">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item col-md-6">
                            <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse" data-anima="scale-rotate" data-trigger="hover">
                                <div class="block-infos">
                                    <div class="block-data">
                                        <p class="bd-day">12</p>
                                        <p class="bd-month">July 2018</p>
                                    </div>
                                    <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                                </div>
                                <a class="img-box" href="#"><img class="anima" src="../images/gallery/image-1.jpg" alt="" /></a>
                                <div class="advs-box-content">
                                    <h2 class="text-m"><a href="#">Darknet is rolling out a free service to pair users</a></h2>
                                    <div class="tag-row">
                                        <span><i class="fa fa-bookmark"></i> <a href="#">Travel</a></span>
                                        <span><i class="fa fa-pencil"></i><a href="#">Admin</a></span>
                                    </div>
                                    <p class="niche-box-content">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item col-md-6">
                            <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse" data-anima="scale-rotate" data-trigger="hover">
                                <div class="block-infos">
                                    <div class="block-data">
                                        <p class="bd-day">15</p>
                                        <p class="bd-month">July 2018</p>
                                    </div>
                                    <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                                </div>
                                <a class="img-box" href="#"><img class="anima" src="../images/gallery/image-2.jpg" alt="" /></a>
                                <div class="advs-box-content">
                                    <h2 class="text-m"><a href="#">Micro satellite launcher Vector flies first rocket</a></h2>
                                    <div class="tag-row">
                                        <span><i class="fa fa-bookmark"></i> <a href="#">Travel</a></span>
                                        <span><i class="fa fa-pencil"></i><a href="#">Admin</a></span>
                                    </div>
                                    <p class="niche-box-content">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item col-md-6">
                            <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse" data-anima="scale-rotate" data-trigger="hover">
                                <div class="block-infos">
                                    <div class="block-data">
                                        <p class="bd-day">12</p>
                                        <p class="bd-month">July 2018</p>
                                    </div>
                                    <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                                </div>
                                <a class="img-box" href="#"><img class="anima" src="../images/gallery/image-1.jpg" alt="" /></a>
                                <div class="advs-box-content">
                                    <h2 class="text-m"><a href="#">Darknet is rolling out a free service to pair users</a></h2>
                                    <div class="tag-row">
                                        <span><i class="fa fa-bookmark"></i> <a href="#">Travel</a></span>
                                        <span><i class="fa fa-pencil"></i><a href="#">Admin</a></span>
                                    </div>
                                    <p class="niche-box-content">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item col-md-6">
                            <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse" data-anima="scale-rotate" data-trigger="hover">
                                <div class="block-infos">
                                    <div class="block-data">
                                        <p class="bd-day">15</p>
                                        <p class="bd-month">July 2018</p>
                                    </div>
                                    <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                                </div>
                                <a class="img-box" href="#"><img class="anima" src="../images/gallery/image-2.jpg" alt="" /></a>
                                <div class="advs-box-content">
                                    <h2 class="text-m"><a href="#">Micro satellite launcher Vector flies first rocket</a></h2>
                                    <div class="tag-row">
                                        <span><i class="fa fa-bookmark"></i> <a href="#">Travel</a></span>
                                        <span><i class="fa fa-pencil"></i><a href="#">Admin</a></span>
                                    </div>
                                    <p class="niche-box-content">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item col-md-6">
                            <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse" data-anima="scale-rotate" data-trigger="hover">
                                <div class="block-infos">
                                    <div class="block-data">
                                        <p class="bd-day">12</p>
                                        <p class="bd-month">July 2018</p>
                                    </div>
                                    <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                                </div>
                                <a class="img-box" href="#"><img class="anima" src="../images/gallery/image-1.jpg" alt="" /></a>
                                <div class="advs-box-content">
                                    <h2 class="text-m"><a href="#">Darknet is rolling out a free service to pair users</a></h2>
                                    <div class="tag-row">
                                        <span><i class="fa fa-bookmark"></i> <a href="#">Travel</a></span>
                                        <span><i class="fa fa-pencil"></i><a href="#">Admin</a></span>
                                    </div>
                                    <p class="niche-box-content">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item col-md-6">
                            <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse" data-anima="scale-rotate" data-trigger="hover">
                                <div class="block-infos">
                                    <div class="block-data">
                                        <p class="bd-day">15</p>
                                        <p class="bd-month">July 2018</p>
                                    </div>
                                    <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                                </div>
                                <a class="img-box" href="#"><img class="anima" src="../images/gallery/image-2.jpg" alt="" /></a>
                                <div class="advs-box-content">
                                    <h2 class="text-m"><a href="#">Micro satellite launcher Vector flies first rocket</a></h2>
                                    <div class="tag-row">
                                        <span><i class="fa fa-bookmark"></i> <a href="#">Travel</a></span>
                                        <span><i class="fa fa-pencil"></i><a href="#">Admin</a></span>
                                    </div>
                                    <p class="niche-box-content">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item col-md-6">
                            <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse" data-anima="scale-rotate" data-trigger="hover">
                                <div class="block-infos">
                                    <div class="block-data">
                                        <p class="bd-day">12</p>
                                        <p class="bd-month">July 2018</p>
                                    </div>
                                    <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                                </div>
                                <a class="img-box" href="#"><img class="anima" src="../images/gallery/image-1.jpg" alt="" /></a>
                                <div class="advs-box-content">
                                    <h2 class="text-m"><a href="#">Darknet is rolling out a free service to pair users</a></h2>
                                    <div class="tag-row">
                                        <span><i class="fa fa-bookmark"></i> <a href="#">Travel</a></span>
                                        <span><i class="fa fa-pencil"></i><a href="#">Admin</a></span>
                                    </div>
                                    <p class="niche-box-content">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item col-md-6">
                            <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse" data-anima="scale-rotate" data-trigger="hover">
                                <div class="block-infos">
                                    <div class="block-data">
                                        <p class="bd-day">15</p>
                                        <p class="bd-month">July 2018</p>
                                    </div>
                                    <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                                </div>
                                <a class="img-box" href="#"><img class="anima" src="../images/gallery/image-2.jpg" alt="" /></a>
                                <div class="advs-box-content">
                                    <h2 class="text-m"><a href="#">Micro satellite launcher Vector flies first rocket</a></h2>
                                    <div class="tag-row">
                                        <span><i class="fa fa-bookmark"></i> <a href="#">Travel</a></span>
                                        <span><i class="fa fa-pencil"></i><a href="#">Admin</a></span>
                                    </div>
                                    <p class="niche-box-content">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item col-md-6">
                            <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse" data-anima="scale-rotate" data-trigger="hover">
                                <div class="block-infos">
                                    <div class="block-data">
                                        <p class="bd-day">21</p>
                                        <p class="bd-month">June 2018</p>
                                    </div>
                                    <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                                </div>
                                <a class="img-box" href="#"><img class="anima" src="../images/gallery/image-3.jpg" alt="" /></a>
                                <div class="advs-box-content">
                                    <h2 class="text-m"><a href="#">High schooler makes machine disease system</a></h2>
                                    <div class="tag-row">
                                        <span><i class="fa fa-bookmark"></i> <a href="#">Travel</a></span>
                                        <span><i class="fa fa-pencil"></i><a href="#">Admin</a></span>
                                    </div>
                                    <p class="niche-box-content">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item col-md-6">
                            <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse" data-anima="scale-rotate" data-trigger="hover">
                                <div class="block-infos">
                                    <div class="block-data">
                                        <p class="bd-day">13</p>
                                        <p class="bd-month">July 2018</p>
                                    </div>
                                    <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                                </div>
                                <a class="img-box" href="#"><img class="anima" src="../images/gallery/image-4.jpg" alt="" /></a>
                                <div class="advs-box-content">
                                    <h2 class="text-m"><a href="#">Edge computing could push the cloud to the fringe</a></h2>
                                    <div class="tag-row">
                                        <span><i class="fa fa-bookmark"></i> <a href="#">Travel</a></span>
                                        <span><i class="fa fa-pencil"></i><a href="#">Admin</a></span>
                                    </div>
                                    <p class="niche-box-content">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item col-md-6">
                            <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse" data-anima="scale-rotate" data-trigger="hover">
                                <div class="block-infos">
                                    <div class="block-data">
                                        <p class="bd-day">18</p>
                                        <p class="bd-month">May 2018</p>
                                    </div>
                                    <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                                </div>
                                <a class="img-box" href="#"><img class="anima" src="../images/gallery/image-5.jpg" alt="" /></a>
                                <div class="advs-box-content">
                                    <h2 class="text-m"><a href="#">Google will now downrank poorly performing apps</a></h2>
                                    <div class="tag-row">
                                        <span><i class="fa fa-bookmark"></i> <a href="#">Travel</a></span>
                                        <span><i class="fa fa-pencil"></i><a href="#">Admin</a></span>
                                    </div>
                                    <p class="niche-box-content">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item col-md-6">
                            <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse" data-anima="scale-rotate" data-trigger="hover">
                                <div class="block-infos">
                                    <div class="block-data">
                                        <p class="bd-day">25</p>
                                        <p class="bd-month">July 2018</p>
                                    </div>
                                    <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                                </div>
                                <a class="img-box" href="#"><img class="anima" src="../images/gallery/image-6.jpg" alt="" /></a>
                                <div class="advs-box-content">
                                    <h2 class="text-m"><a href="#">The iPhone 8 automatically adjust your camera</a></h2>
                                    <div class="tag-row">
                                        <span><i class="fa fa-bookmark"></i> <a href="#">Travel</a></span>
                                        <span><i class="fa fa-pencil"></i><a href="#">Admin</a></span>
                                    </div>
                                    <p class="niche-box-content">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item col-md-6">
                            <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse" data-anima="scale-rotate" data-trigger="hover">
                                <div class="block-infos">
                                    <div class="block-data">
                                        <p class="bd-day">17</p>
                                        <p class="bd-month">June 2018</p>
                                    </div>
                                    <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                                </div>
                                <a class="img-box" href="#"><img class="anima" src="../images/gallery/image-7.jpg" alt="" /></a>
                                <div class="advs-box-content">
                                    <h2 class="text-m"><a href="#">Facebook finishes its move to neural machine translation</a></h2>
                                    <div class="tag-row">
                                        <span><i class="fa fa-bookmark"></i> <a href="#">Travel</a></span>
                                        <span><i class="fa fa-pencil"></i><a href="#">Admin</a></span>
                                    </div>
                                    <p class="niche-box-content">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item col-md-6">
                            <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse" data-anima="scale-rotate" data-trigger="hover">
                                <div class="block-infos">
                                    <div class="block-data">
                                        <p class="bd-day">25</p>
                                        <p class="bd-month">July 2018</p>
                                    </div>
                                    <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                                </div>
                                <a class="img-box" href="#"><img class="anima" src="../images/gallery/image-8.jpg" alt="" /></a>
                                <div class="advs-box-content">
                                    <h2 class="text-m"><a href="#">Bozoma Saint John to talk about transforming Uber</a></h2>
                                    <div class="tag-row">
                                        <span><i class="fa fa-bookmark"></i> <a href="#">Travel</a></span>
                                        <span><i class="fa fa-pencil"></i><a href="#">Admin</a></span>
                                    </div>
                                    <p class="niche-box-content">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item col-md-6">
                            <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse" data-anima="scale-rotate" data-trigger="hover">
                                <div class="block-infos">
                                    <div class="block-data">
                                        <p class="bd-day">02</p>
                                        <p class="bd-month">July 2018</p>
                                    </div>
                                    <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                                </div>
                                <a class="img-box" href="#"><img class="anima" src="../images/gallery/image-9.jpg" alt="" /></a>
                                <div class="advs-box-content">
                                    <h2 class="text-m"><a href="#">Facebook begins testing Stories on the desktop</a></h2>
                                    <div class="tag-row">
                                        <span><i class="fa fa-bookmark"></i> <a href="#">Travel</a></span>
                                        <span><i class="fa fa-pencil"></i><a href="#">Admin</a></span>
                                    </div>
                                    <p class="niche-box-content">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item col-md-6">
                            <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse" data-anima="scale-rotate" data-trigger="hover">
                                <div class="block-infos">
                                    <div class="block-data">
                                        <p class="bd-day">09</p>
                                        <p class="bd-month">June 2018</p>
                                    </div>
                                    <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                                </div>
                                <a class="img-box" href="#"><img class="anima" src="../images/gallery/image-10.jpg" alt="" /></a>
                                <div class="advs-box-content">
                                    <h2 class="text-m"><a href="#">Nintendo Switch-compatible NES30 Arcade Stick now on sale</a></h2>
                                    <div class="tag-row">
                                        <span><i class="fa fa-bookmark"></i> <a href="#">Travel</a></span>
                                        <span><i class="fa fa-pencil"></i><a href="#">Admin</a></span>
                                    </div>
                                    <p class="niche-box-content">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item col-md-6">
                            <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse" data-anima="scale-rotate" data-trigger="hover">
                                <div class="block-infos">
                                    <div class="block-data">
                                        <p class="bd-day">10</p>
                                        <p class="bd-month">July 2018</p>
                                    </div>
                                    <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                                </div>
                                <a class="img-box" href="#"><img class="anima" src="../images/gallery/image-11.jpg" alt="" /></a>
                                <div class="advs-box-content">
                                    <h2 class="text-m"><a href="#">Void is bringing a location-based Star Wars to Disney</a></h2>
                                    <div class="tag-row">
                                        <span><i class="fa fa-bookmark"></i> <a href="#">Travel</a></span>
                                        <span><i class="fa fa-pencil"></i><a href="#">Admin</a></span>
                                    </div>
                                    <p class="niche-box-content">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item col-md-6">
                            <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse" data-anima="scale-rotate" data-trigger="hover">
                                <div class="block-infos">
                                    <div class="block-data">
                                        <p class="bd-day">07</p>
                                        <p class="bd-month">June 2018</p>
                                    </div>
                                    <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                                </div>
                                <a class="img-box" href="#"><img class="anima" src="../images/gallery/image-12.jpg" alt="" /></a>
                                <div class="advs-box-content">
                                    <h2 class="text-m"><a href="#">Piggy looks to build a simple app for first-time investors in India</a></h2>
                                    <div class="tag-row">
                                        <span><i class="fa fa-bookmark"></i> <a href="#">Travel</a></span>
                                        <span><i class="fa fa-pencil"></i><a href="#">Admin</a></span>
                                    </div>
                                    <p class="niche-box-content">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item col-md-6">
                            <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse" data-anima="scale-rotate" data-trigger="hover">
                                <div class="block-infos">
                                    <div class="block-data">
                                        <p class="bd-day">25</p>
                                        <p class="bd-month">April 2018</p>
                                    </div>
                                    <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                                </div>
                                <a class="img-box" href="#"><img class="anima" src="../images/gallery/image-13.jpg" alt="" /></a>
                                <div class="advs-box-content">
                                    <h2 class="text-m"><a href="#">Mozoo acquires AdinCube to create one ad platform</a></h2>
                                    <div class="tag-row">
                                        <span><i class="fa fa-bookmark"></i> <a href="#">Travel</a></span>
                                        <span><i class="fa fa-pencil"></i><a href="#">Admin</a></span>
                                    </div>
                                    <p class="niche-box-content">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item col-md-6">
                            <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse" data-anima="scale-rotate" data-trigger="hover">
                                <div class="block-infos">
                                    <div class="block-data">
                                        <p class="bd-day">13</p>
                                        <p class="bd-month">May 2018</p>
                                    </div>
                                    <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                                </div>
                                <a class="img-box" href="#"><img class="anima" src="../images/gallery/image-1.jpg" alt="" /></a>
                                <div class="advs-box-content">
                                    <h2 class="text-m"><a href="#">Watch a Boeing 787 Dreamliner draw a massive plane</a></h2>
                                    <div class="tag-row">
                                        <span><i class="fa fa-bookmark"></i> <a href="#">Travel</a></span>
                                        <span><i class="fa fa-pencil"></i><a href="#">Admin</a></span>
                                    </div>
                                    <p class="niche-box-content">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item col-md-6">
                            <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse" data-anima="scale-rotate" data-trigger="hover">
                                <div class="block-infos">
                                    <div class="block-data">
                                        <p class="bd-day">25</p>
                                        <p class="bd-month">July 2018</p>
                                    </div>
                                    <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                                </div>
                                <a class="img-box" href="#"><img class="anima" src="../images/gallery/image-2.jpg" alt="" /></a>
                                <div class="advs-box-content">
                                    <h2 class="text-m"><a href="#">Looking forward to #BeforeTheFlood</a></h2>
                                    <div class="tag-row">
                                        <span><i class="fa fa-bookmark"></i> <a href="#">Travel</a></span>
                                        <span><i class="fa fa-pencil"></i><a href="#">Admin</a></span>
                                    </div>
                                    <p class="niche-box-content">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="grid-item col-md-6">
                            <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse" data-anima="scale-rotate" data-trigger="hover">
                                <div class="block-infos">
                                    <div class="block-data">
                                        <p class="bd-day">25</p>
                                        <p class="bd-month">July 2018</p>
                                    </div>
                                    <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                                </div>
                                <a class="img-box" href="#"><img class="anima" src="../images/gallery/image-3.jpg" alt="" /></a>
                                <div class="advs-box-content">
                                    <h2 class="text-m"><a href="#">Savings now offers checking account and debit card</a></h2>
                                    <div class="tag-row">
                                        <span><i class="fa fa-bookmark"></i> <a href="#">Travel</a></span>
                                        <span><i class="fa fa-pencil"></i><a href="#">Admin</a></span>
                                    </div>
                                    <p class="niche-box-content">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-nav text-left">
                        <ul class="pagination pagination-sm pagination-grid" data-page-items="8" data-pagination-anima="fade-bottom" data-options="scrollTop:true"></ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 widget">
                <div class="input-group search-blog list-blog">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div>
                <hr class="space s" />
                <div class="list-group list-blog">
                    <p class="list-group-item active">Categories</p>
                    <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
                    <a href="#" class="list-group-item">Morbi leo risus</a>
                    <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                    <a href="#" class="list-group-item">Vestibulum at eros</a>
                </div>
                <div class="list-group list-blog">
                    <p class="list-group-item active">Latest posts</p>
                    <div class="list-group-item">
                        <div class="tag-row icon-row"><span><i class="fa fa-calendar"></i>26.05.2018</span></div>
                        <a href="#">
                            <h5>Return to the future day</h5>
                        </a>
                        <p>
                            Lorem ipsum dolor sit amet, conse adipisicing elit, sed do eiusmod tempor incididunt ...
                        </p>
                    </div>
                    <div class="list-group-item">
                        <div class="tag-row icon-row"><span><i class="fa fa-calendar"></i>28.05.2018</span></div>
                        <a href="#">
                            <h5>The web 3.0 vision</h5>
                        </a>
                        <p>
                            Lorem ipsum dolor sit amet, conse adipisicing elit, sed do eiusmod tempor incididunt ...
                        </p>
                    </div>
                    <div class="list-group-item">
                        <div class="tag-row icon-row"><span><i class="fa fa-calendar"></i>02.06.2018</span></div>
                        <a href="#">
                            <h5>Where to go on holiday ?</h5>
                        </a>
                        <p>
                            Lorem ipsum dolor sit amet, conse adipisicing elit, sed do eiusmod tempor incididunt ...
                        </p>
                    </div>
                </div>
                <div class="list-group latest-post-list list-blog">
                    <p class="list-group-item active">Latest posts</p>
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-md-4">
                                <a class="img-box circle">
                                    <img src="../images/gallery/square-1.jpg" alt="">
                                </a>
                            </div>
                            <div class="col-md-8">
                                <a href="#">
                                    <h5>Return to the future day</h5>
                                </a>
                                <div class="tag-row icon-row"><span><i class="fa fa-calendar"></i>02.06.2018</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-md-4">
                                <a class="img-box circle">
                                    <img src="../images/gallery/square-2.jpg" alt="">
                                </a>
                            </div>
                            <div class="col-md-8">
                                <a href="#">
                                    <h5>We can do</h5>
                                </a>
                                <div class="tag-row icon-row"><span><i class="fa fa-calendar"></i>02.06.2018</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-md-4">
                                <a class="img-box circle">
                                    <img src="../images/gallery/square-3.jpg" alt="">
                                </a>
                            </div>
                            <div class="col-md-8">
                                <a href="#">
                                    <h5>Hacking team 24</h5>
                                </a>
                                <div class="tag-row icon-row"><span><i class="fa fa-calendar"></i>02.06.2018</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-group list-blog">
                    <p class="list-group-item active">Tags</p>
                    <div class="tagbox">
                        <span>Hello!</span><span>Big deal</span><span>A new happy time</span><span>Food</span><span>Cheese</span><span>Food</span>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

