@model ObjBlog
@{
    Layout = "_Layout";
}

<div class="header-base">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="title-base text-left">
                    <h1>Vodafone India confirms it is merging with Idea Cellular to form India’s largest telco</h1>
                    <p>
                        Everything we do is designed, whether we're producing a magazine, a website, or a bridge. Design is really the creative invention that designs everything.
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <ol class="breadcrumb b">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Blog</a></li>
                    <li class="active">Vodafone India</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="section-empty section-item">
    <div class="container content">
        <div class="row">
            <div class="col-md-9 col-sm-12">
                <div class="flexslider slider nav-inner row-17">
                    <ul class="slides">
                        <li>
                            <a class="img-box">
                                <img src="~/@Model.ImagePath" alt="" />
                            </a>
                        </li>
                    </ul>
                </div>
                <hr class="space" />
                <div class="row">
                    <div class="col-md-6 hidden-xs">
                        <hr class="space s" />
                        <div class="tag-row">
                            <span><i class="fa fa-calendar"></i> <a href="#">25 / 05 / 2025</a></span>
                            <span><i class="fa fa-bookmark"></i> <a href="#">Travel</a></span>
                            <span><i class="fa fa-pencil"></i><a href="#">Admin</a></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="btn-group social-group social-colors">
                            <a target="_blank" href="#" data-social="share-facebook" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook text-s"></i></a>
                            <a target="_blank" href="#" data-social="share-twitter" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter text-s"></i></a>
                            <a target="_blank" href="#" data-social="share-google" data-toggle="tooltip" data-placement="top" title="Google+"><i class="fa fa-google-plus text-s"></i></a>
                            <a target="_blank" href="#" data-social="share-linkedin" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i class="fa fa-linkedin text-s"></i></a>
                        </div>
                    </div>
                </div>
                <hr class="space m" />
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            Fames ultrices dolores vitae euismod lobortis corporis facere id nullam aspernatur litora, vitae numquam do molestiae iaculis. Ullamco, assumenda tempor, ullamco blanditiis,
                            pharetra laborum rutrum sunt ipsam, sed, varius dolores nam curabitur, nisi mus, impedit faucibus veritatis aliqua parturient nonummy ipsam aptent lacus commodo, doloremque
                            eaque dolor lorem fermentum leo donec, minus modi class, ipsam, illum condimentum massa delectus, sagittis? Voluptatem quis ornare proident qui, mi saepe urna exercitationem aptent illum mauris vitae mollitia, delectus voluptatum illum, eu, est sodales excepteur
                            dignissimos aliqua deserunt luctus velit. Sem. Doloribus imperdiet eos, labore curabitur, r magnam, amet quam enim veniam tempus cumque.
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="list-group latest-post-list list-blog">
                    <p class="list-group-item active">Latest posts</p>
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-md-4">
                                <a class="img-box circle">
                                    <img src="../images/gallery/square-1.jpg" alt="">
                                </a>
                            </div>
                            <div class="col-md-8">
                                <a href="#">
                                    <h5>Return to the future day</h5>
                                </a>
                                <div class="tag-row icon-row"><span><i class="fa fa-calendar"></i>02.06.2018</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-md-4">
                                <a class="img-box circle">
                                    <img src="../images/gallery/square-2.jpg" alt="">
                                </a>
                            </div>
                            <div class="col-md-8">
                                <a href="#">
                                    <h5>We can do</h5>
                                </a>
                                <div class="tag-row icon-row"><span><i class="fa fa-calendar"></i>02.06.2018</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-md-4">
                                <a class="img-box circle">
                                    <img src="../images/gallery/square-3.jpg" alt="">
                                </a>
                            </div>
                            <div class="col-md-8">
                                <a href="#">
                                    <h5>Hacking team 24</h5>
                                </a>
                                <div class="tag-row icon-row"><span><i class="fa fa-calendar"></i>02.06.2018</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-group list-blog">
                    <p class="list-group-item active">Tags</p>
                    <div class="tagbox">
                        <span>Hello!</span><span>Big deal</span><span>A new happy time</span><span>Food</span><span>Cheese</span><span>Food</span>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="comments" class="section-empty">
    <div class="container content">
        <div class="row">
            <div class="col-md-6">
                <div class="comment-list">
                    <h4>Comments</h4>
                    <div class="item row">
                        <img src="../images/users/user-2.jpg" class="col-md-1" alt="" />
                        <div class="col-md-10">
                            <p class="name">Federico Schiocchet <span>25 feb, 2018</span></p>
                            <p class="msg">Lorem ipsum dolor sit amet, consectetur adipisicingomnis iste natus error sit voluptatem accusantium doloremque laudantium</p>
                        </div>
                    </div>
                    <div class="item row">
                        <img src="../images/users/user-4.jpg" class="col-md-1" alt="" />
                        <div class="col-md-10">
                            <p class="name">Vaky Yo <span>25 feb, 2018</span></p>
                            <p class="msg">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>Leave a comment</h4>
                <hr class="space s" />
                <div class="form-box">
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="Name">
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="Email">
                        </div>
                    </div>
                    <hr class="space xs" />
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" class="form-control" placeholder="Website">
                            <hr class="space xs" />
                            <textarea name="messagge" class="form-control" placeholder="Messagge"></textarea>
                            <hr class="space s" />
                            <button class="circle-button btn btn-sm" type="button">Send comment</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>