
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="header-base">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="title-base text-left">
                    <h1>Classic Menu</h1>
                    <p>This template come with lot of innovative features and an awesome and extensive documentation.</p>
                </div>
            </div>
            <div class="col-md-3">
                <ol class="breadcrumb b white">
                    <li><a href="#">Home</a></li>
                    <li class="active">Features</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="section-empty section-item">
    <div class="container content">
        <div class="row proporzional-row">
            <div class="col-md-6">
                <p>
                    Proin augue neque, vestibulum vitae urna quis, ornare lobortis sem. Maecenas sit amet gravida neque, in mollis nulla. Aenean vel nulla at
                    enim maximus varius vitae in tortor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                </p>
                <p class="block-quote quote-1">
                    It is better to lead from behind and to put others in front,
                    especially when you celebrate victory when nice things occur.
                </p>
                <p>
                    Vulputate nobis impedit aute unde exercitation quod quidem! Hymenaeos placerat, temporibus quas incidunt, dicta proin ea quas morbi. Cursus eos, quidem. Soluta?
                    Iste repellendus. Tenetur, natoque saepe facere odio sed. Fuga provident, exercitation dolorum minus tempor.
                </p>
            </div>
            <div class="col-md-3 boxed-inverse middle-content text-center">
                <h4 class="text-m">FOR CREATE AWESOME WEBSITES</h4>
            </div>
            <div class="col-md-3 middle-content boxed white text-center">
                <h4 class="text-m">MAGNIFIC AND UNIQUE DESIGN</h4>
            </div>
        </div>
    </div>
</div>

<div class="container content">
    <div class="row">
        <div class="col-md-12">
            <div class="flexslider carousel outer-navs" data-options="minWidth:200,itemMargin:30,numItems:2,controlNav:false,directionNav:true">
                <ul class="slides">
                    <li>
                        <div class="advs-box niche-box-blog">
                            <div class="block-top">
                                <div class="block-infos">
                                    <div class="block-data">
                                        <p class="bd-day">25</p>
                                        <p class="bd-month">July</p>
                                    </div>
                                    <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                                </div>
                                <div class="block-title">
                                    <h2><a href="#">Stay hungry</a></h2>
                                    <div class="tag-row">
                                        <span><i class="fa fa-pencil"></i><a>Admin</a></span>
                                    </div>
                                </div>
                            </div>
                            <a class="img-box img-scale-up" href="#">
                                <img src="../../../images/gallery/image-1.jpg" alt="">
                            </a>
                            <p class="excerpt">
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunto.
                            </p>
                            <a class="btn btn-sm" href="#">Read more</a>
                        </div>
                    </li>
                    <li>
                        <div class="advs-box niche-box-blog">
                            <div class="block-top">
                                <div class="block-infos">
                                    <div class="block-data">
                                        <p class="bd-day">25</p>
                                        <p class="bd-month">July</p>
                                    </div>
                                    <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                                </div>
                                <div class="block-title">
                                    <h2><a href="#">Stay hungry</a></h2>
                                    <div class="tag-row">
                                        <span><i class="fa fa-pencil"></i><a>Admin</a></span>
                                    </div>
                                </div>
                            </div>
                            <a class="img-box img-scale-up" href="#">
                                <img src="../../../images/gallery/image-1.jpg" alt="">
                            </a>
                            <p class="excerpt">
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunto.
                            </p>
                            <a class="btn btn-sm" href="#">Read more</a>
                        </div>
                    </li>
                    <li>
                        <div class="advs-box niche-box-blog">
                            <div class="block-top">
                                <div class="block-infos">
                                    <div class="block-data">
                                        <p class="bd-day">25</p>
                                        <p class="bd-month">July</p>
                                    </div>
                                    <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                                </div>
                                <div class="block-title">
                                    <h2><a href="#">Stay hungry</a></h2>
                                    <div class="tag-row">
                                        <span><i class="fa fa-pencil"></i><a>Admin</a></span>
                                    </div>
                                </div>
                            </div>
                            <a class="img-box img-scale-up" href="#">
                                <img src="../../../images/gallery/image-1.jpg" alt="">
                            </a>
                            <p class="excerpt">
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunto.
                            </p>
                            <a class="btn btn-sm" href="#">Read more</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

