@model HomeViewModel
@{
    ViewData["Title"] = "Online Diyet";
    Layout = "_Layout";
}


<div class="section-bg-image box-middle-container overlay-container row-19" data-natural-height="950" data-natural-width="1920" data-parallax="scroll" data-bleed="0" data-image-src="../images/hakkimizda.jpg">
    <div class="container content overlay-content box-middle white text-center">
        <div class="title-base" data-anima="fade-top">
            <hr />
            <h1 class="text-xl">Online Diyet</h1>
        </div>
    </div>
</div>
<div class="section-empty">
    <div class="container content">
        <hr class="space s" />
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="grid-list grid-layout grid-15">
                    <div class="grid-box row">
                        <h5 class="text-m">
                            Online diyet ile diyetisyenin artık whatsappta! Kısa sürede hayalinde ki görüntüye ulaşırken ihtiyacın olan her an whatsapptan ulaşabiliyor olacaksın!
                        </h5>
                        <div class="list-group">
                            @foreach (var item in Model.OnlineDietInformationLists)
                            {
                                @if (item.Status == true)
                                {
                                    <div class="list-group-item-dark-primary">
                                        <i class="fa fa-check"></i> @item.Description
                                    </div>
                                }
                            }
                        </div>
                        <a asp-action="OnlineDietRecord" class="btn btn-l">Hemen Başla</a>
                        <a target="_blank" href="#" class="btn btn-l"><i class="fa fa-whatsapp"></i>Whatsapp</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="coverflow-slider">
                    <ul>
                        @foreach (var item in Model.WeakenedLists)
                        {
                            @if (item.Status == true)
                            {
                                <li><img src="~/@item.FilePath" alt="coverflow"></li>
                            }
                        }
                    </ul>
                </div>
            </div>
            <hr class="space xxl" />
            <h1 class="text-xl text-center">Sıkça Sorulan Sorular</h1>

            <hr class="space m" />
            <div class="col-md-12">
                <div class="list-group accordion-list" data-type="accordion" data-time="1000">
                    @foreach (var item in Model.OnlineDietFaqs)
                    {
                        @if (item.Status == true)
                        {
                            <div class="list-group-item">
                                <a href="#" class=""> @item.Title</a>
                                <div class="panel">
                                    <div class="inner">
                                        @item.Description
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

