<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <meta name="description" content="Bootstrap menu over effect dropdown and click opening.">
    <script src="~/HTWF/scripts/jquery.min.js"></script>
    <link rel="stylesheet" href="~/HTWF/scripts/bootstrap/css/bootstrap.css">
    <script src="~/HTWF/scripts/script.js"></script>
    <link rel="stylesheet" href="~/HTWF/style.css">
    <link rel="stylesheet" href="~/HTWF/scripts/flexslider/flexslider.css">
    <link rel="stylesheet" href="~/HTWF/css/content-box.css">
    <link rel="stylesheet" href="~/HTWF/css/components.css">
    <link rel="stylesheet" href="~/HTWF/css/animations.css">
    <link rel="stylesheet" href="~/HTWF/scripts/php/contact-form.css">
    <link rel="stylesheet" href="~/HTWF/scripts/social.stream.css">
    <link rel="icon" href="~/images/favicon.png">
    <link rel="stylesheet" href="~/HTWF/skin.css">

</head>
<body>
    <div id="preloader"></div>
    <header data-menu-anima="fade-in">
        <div class="navbar navbar-default" role="navigation">
            <div class="navbar-mini">
                <div class="container">
                    <div class="nav navbar-nav navbar-left">
                        <span><i class="fa fa-phone"></i>+01-23-4226789</span>
                        <hr />
                        <span><i class="fa fa-envelope-o"></i>info@Framework Y.com</span>
                        <hr />
                        <span><i class="fa fa-clock-o"></i> Mon - Sat: 9:00 - 18:00 </span>
                    </div>
                    <div class="nav navbar-nav navbar-right">
                        <div class="minisocial-group">
                            <a target="_blank" href="#"><i class="fa fa-facebook first"></i></a>
                            <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                            <a target="_blank" href="#"><i class="fa fa-instagram"></i></a>
                            <a target="_blank" href="#"><i class="fa fa-youtube"></i></a>
                            <a target="_blank" href="#"><i class="fa fa-linkedin"></i></a>
                            <a target="_blank" href="#"><i class="fa fa-pinterest"></i></a>
                            <a target="_blank" href="#"><i class="fa fa-google-plus"></i></a>
                            <a asp-controller="ProvidedService" asp-action="Index"><i class="fa fa-user"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="navbar navbar-main mega-menu-fullwidth">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle">
                            <i class="fa fa-bars"></i>
                        </button>
                        <a class="navbar-brand" asp-action="Index"><img src="~/images/logo-black.png" alt="logo" /> </a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li><a asp-action="AboutUs">Hakkımızda</a></li>
                            <li><a asp-action="Services">Hizmetler</a></li>
                            <li><a asp-action="Blog">Blog</a></li>
                            <li><a asp-action="OnlineDiet">Online Diyet</a></li>
                            <li><a asp-action="Weakened">Zayıflayanlar</a></li>
                            <li><a asp-action="Comments">Yorumlar</a></li>
                            <li><a asp-action="Pricing">Diyet Paketleri</a></li>
                            <li><a asp-action="Contact">Bize Ulaş</a></li>
                        </ul>
                        <div class="nav navbar-nav navbar-right">
                            <div class="search-box-menu">
                                <div class="search-box scrolldown">
                                    <input type="text" class="form-control" placeholder="Search for...">
                                </div>
                                <button type="button" class="btn btn-default btn-search">
                                    <span class="fa fa-search"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div>
        @RenderBody()
    </div>

    <footer class="footer-base">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 footer-center text-left">
                        <img width="120" src="~/images/logo.png" alt="" />
                    </div>
                    <div class="col-md-6 footer-left text-left">
                        <p>Collins Street West 8007, San Fransico, United States.</p>
                        <div class="tag-row">
                            <span>support@company.com</span>
                            <span>+02 3205550678</span>
                        </div>
                    </div>
                    <div class="col-md-3 footer-left text-right text-left-sm">
                        <div class="btn-group social-group btn-group-icons">
                            <a target="_blank" href="#" data-social="share-facebook">
                                <i class="fa fa-facebook text-xs circle"></i>
                            </a>
                            <a target="_blank" href="#" data-social="share-twitter">
                                <i class="fa fa-twitter text-xs circle"></i>
                            </a>
                            <a target="_blank" href="#" data-social="share-google">
                                <i class="fa fa-google-plus text-xs circle"></i>
                            </a>
                            <a target="_blank" href="#" data-social="share-linkedin">
                                <i class="fa fa-linkedin text-xs circle"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row copy-row">
                <div class="col-md-12 copy-text">
                    © 2018 Signflow - Multipurpose & Tech Business Template <span>Handmade by <a href="http://schiocco.io/">schiocco.io</a></span>
                </div>
            </div>
        </div>
    </footer>
    <link rel="stylesheet" href="~/HTWF/scripts/font-awesome/css/font-awesome.min.css">
    <script src="~/HTWF/scripts/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/HTWF/scripts/flexslider/jquery.flexslider-min.js"></script>
    <script src="~/HTWF/scripts/jquery.tab-accordion.js"></script>
    <script src="~/HTWF/scripts/parallax.min.js"></script>
    <script src="~/HTWF/scripts/imagesloaded.min.js"></script>
    <script src="~/HTWF/scripts/isotope.min.js"></script>
    <script src="~/HTWF/scripts/jquery.twbsPagination.min.js"></script>
    <script src="~/HTWF/scripts/jquery.magnific-popup.min.js"></script>
    <script src="~/HTWF/scripts/smooth.scroll.min.js"></script>
    <script src="~/HTWF/scripts/google.maps.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="~/HTWF/scripts/social.stream.min.js"></script>
    <script src="~/HTWF/scripts/flexslider/jquery.flexslider-min.js"></script>
    <script src="~/HTWF/scripts/smooth.scroll.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
