@model NumberCategoryCreateDto
@{
    Layout = "_Panel";
}

<div class="row page-titles">
    <div class="col-md-5 col-12 align-self-center">
        <h3 class="text-themecolor mb-0">Numara Kategorileri</h3>
        <ol class="breadcrumb mb-0 p-0 bg-transparent">
            <li class="breadcrumb-item"><a asp-action="Index">Numara Kategorileri</a></li>
            <li class="breadcrumb-item active">Yeni Numara Kategorisi Ekle</li>
        </ol>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <form asp-action="Create" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-color"></div>
                    <div class="card-body">
                        <div class="row m-auto">
                            <div class="col-12">
                                <div class="form-group">
                                    <label asp-for="Definition" class="control-label col-form-label">Kategori Adı</label>
                                    <input type="text" asp-for="Definition" name="Definition" class="form-control" placeholder="" required>
                                    <span asp-validation-for="Definition"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="IconCode" class="control-label col-form-label">Simge Kodu</label>
                                    <input type="text" asp-for="IconCode" name="IconCode" class="form-control" placeholder="" required>
                                    <span asp-validation-for="IconCode"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="card-body">
                        <div class="d-md-flex no-block align-items-center">
                            <div class="action-form">
                                <div class="form-group mb-0 text-center">
                                    <button type="submit" class="btn btn-info waves-effect waves-light">Ekle</button>
                                    <a asp-action="Index" class="btn btn-dark waves-effect waves-light">Tüm Numara Kategorileri</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
